<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Static</title>

    <link href="{{ toolbox-css }}" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">{{! never remove this line, css will be inlined here }}
</head>
<body>

    <we-wallpaper onready="onReady()">
    
        <we-background 
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4f4bpPwAHaALN9oWxBQAAAABJRU5ErkJggg==" 
            onload="onBackgroundLoad()" 
            fullscreen 
        ></we-background>

        <we-clickbutton></we-clickbutton>

    </we-wallpaper>

    <script src="{{ wallpaper-api }}" type="text/javascript"></script>
    <script src="{{ toolbox-js }}" type="text/javascript"></script>
    <script src="./assets/js/scripts.js" type="text/javascript"></script>{{! never remove this line, js will be inlined here }}
</body>
</html>